<!doctype html>
<html>
<head>
    <title>Calculator App</ttle>
</head>
<body>
    <h1>This is an online Calculator Application</h1>

    <h2>This application has <strong>five</strong> features:</h2>


    <ul>
      <li><a href="http://calculator.bearbarky.com/calculator/addition">Addition</a></li>
      
      <li><a href="http://calculator.bearbarky.com/calculator/subtraction">Subtraction</a></li>

      <li><a href="http://calculator.bearbarky.com/calculator/multiplication">Multiplication</a></li>

      <li><a href="http://calculator.bearbarky.com/calculator/division">Division</a></li>

      <li><a href="http://calculator.bearbarky.com/calculator/exponents">Exponents</a></li>
    </ul>
</body>
</html>
